<div class="brand-bg2 d-flex align-items-center" id="main-nav">
  <div class="container nav-content">
    <div class="d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <span class="mr-2">
          <i class="fas fa-mask fa-2x"></i>
        </span>
        <div class="input-group">
          <input type="search" class="form-control nav-search" placeholder="Search" aria-label="Search" aria-describedby="search-icon">
          <div id="search-append" class="input-group-append">
            <span class="input-group-text" id="search-icon"><i class="fas fa-search"></i></span>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <%= link_to profile_path(current_user.username), class: 'nav-link' do %>
          <span id="avatar" class="nav-text">
            <%= current_user.first_name %>
          </span>
        <% end %>
        <%= link_to root_path, class: 'nav-link' do %>
          <span class="nav-text">
            Home
          </span>
        <% end %>
        <%= link_to requests_received_requests_path, class: 'nav-link' do %>
          <span class="nav-text">
            <i class="fas fa-user-friends"></i>
          </span>
        <% end %>
        <%= link_to notifications_path, class: 'nav-link' do %>
          <span class="nav-text">
            <i class="fas fa-bell"></i>
          </span>
        <% end %>

        <div class="btn-group">
          <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </a>
          <div id="dropdown" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <%= link_to('Log Out', destroy_user_session_path, method: :delete, class: 'dropdown-item log-out') %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>