<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group row">
      <div class="col">
        <%= f.text_field :first_name,  autocomplete: "first_name", class:"form-control", placeholder: "First name", value: current_user.first_name %>
      </div>
      <div class="col">
        <%= f.text_field :last_name, autocomplete: "last_name", class:"form-control", placeholder: "Last name", value: current_user.last_name  %>
      </div>
  </div>
  <div class="form-group row px-3">
    <%= f.email_field :email, autocomplete: "email", class:"form-control", placeholder: "Email", value: current_user.email  %>
  </div>  
  <div class="form-group row px-3">
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, class:"form-control", placeholder: "Current or New Password"%>
  </div>
  <div class="form-group row px-3">
    <%= f.label :birth_date, "Birthday", class:"h6 text-muted" %>
    <%= f.date_field :birth_date, class:"form-control", value: current_user.birth_date %>
  </div>
  <div class="h6 text-muted">Gender</div>
  <div class="form-group row px-3">
    <div class="form-check form-check-inline">
      <% if current_user.gender == 'Male' %>
        <%= f.radio_button :gender, 'Male', class:"form-check-input", checked: true %>
      <% else %>
        <%= f.radio_button :gender, 'Male', class:"form-check-input" %>
      <% end %>
      <%= f.label :gender, 'Male', class: "gender-labels" %><br />
    </div>
    <div class="form-check form-check-inline">
      <% if current_user.gender == 'Female' %>
        <%= f.radio_button :gender, 'Female', class:"form-check-input", checked: true %>
      <% else %>
        <%= f.radio_button :gender, 'Female', class:"form-check-input" %>
      <% end %>
      <%= f.label :gender, 'Female', class: "gender-labels" %><br />
    </div>
  </div>

  <div class="form-group row px-3">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <%= f.submit "Update Account", class: "btn btn-success" %>
<% end %>


<p><%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

