<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="bg-light card" id="profile-header">
      <div class="d-flex flex-column align-items-center justify-content-between py-4">
        <%= gravatar_for(current_user, 'post-img img-fluid') %>
        <h1 class="my-2 strong"><%= @user.full_name %></h1> 
        <% if current_user.username == params[:username] %>
          <%= link_to 'Edit profile', edit_profile_path(current_user.username) %>
        <% end %>
      </div>
    </div>
    <div class="card bg-light my-3">
      <%= render 'posts/partials/form' %>
    </div>
    <% current_user.posts.each do |post| %>
      <%= render 'posts/partials/posts', post: post %>
    <% end %>
  </div>
  <div class="col-sm-2"></div>
</div>
